* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* --------- HEADER ------- */

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 56px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    height: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    width: 1158px;
    padding: 0 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.header-icons {
  display: block;
  fill: #2f2f37;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 149px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo-web {
    margin-right: 76px;
  }
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.meny {
  gap: 40px;
  display: none;
}

@media screen and (min-width: 768px) {
  .meny {
    gap: 40px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .meny-part {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .meny-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .meny-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .meny-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .meny-link:hover,
  .meny-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .meny-item:hover:after,
  .meny-item:focus:after {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .address {
    font-style: normal;
  }
}

.contacts-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    display: inline-block;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-item {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-net {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

/* ---------  ------- */

/* ---------MAIN------- */

/* ---------START-SECTION------- */

.start-section {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/start/bg-mob.jpg');
  background-size: cover;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .start-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/start/bg-mob-2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .start-section {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/start/bg-tab.jpg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .start-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/start/bg-tab-2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .start-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/start/bg-decs.jpg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .start-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/start/bg-decs-2x.jpg');
  }
}

.page-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px auto;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}

@media screen and (min-width: 1158px) {
  .page-title {
    margin: 0 auto 48px auto;
  }
}

.start-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  transition-property: color, background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button:hover,
.start-button:focus {
  background-color: #404bbf;
}

.rewiew {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
}

/* ---------  ------- */

/* ---------EXPLANATION-SECTION------- */

.explanation-container {
  max-width: 320px;
  margin: 0;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .explanation-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .explanation-container {
    max-width: 1128px;
    background-color: #ffffff;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.explanation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.explanation-text {
  width: calc((100% - 72px) / 4);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .explanation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .explanation-text {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .explanation-list {
    display: flex;
    gap: 24px;
  }

  .explanation-text {
    width: calc((100% - 72px) / 4);
  }
}

.explanation-icons {
  display: none;
}

@media screen and (min-width: 768px) {
  .explanation-icons {
    width: 264px;
    height: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .explanation-icons {
    display: flex;
    gap: 24px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
}

.title-explanation {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .title-explanation {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .title-explanation {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.p-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .p-text {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .p-text {
    font-weight: 400;
    width: 264px;
  }
}
/* ---------  ------- */

/* ---------OUR-TEAM-FOTO------- */
.our-team-foto {
  background-color: #f4f4fd;
}

.foto-section {
  max-width: 320px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 28px;
  padding-right: 28px;
}

@media screen and (min-width: 768px) {
  .foto-section {
    max-width: 768px;
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .foto-section {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.foto-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.explanation-foto {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .foto-list {
    gap: 64px 24px;
  }

  .explanation-foto {
    width: calc((100% - 64px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .foto-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .explanation-foto {
    width: calc((100% - 24px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .explanation-foto {
    width: 264px;
  }
}

.our-team {
  padding: 32px 16px;
}

.team-foto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-foto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  gap: 24px;
  max-width: 100%;
  justify-content: center;
}

.social-links-item {
  height: 40px;
  width: 40px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: #404bbf;
}

.link {
  fill: #f4f4fd;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}
/* ---------  ------- */

/* ---------OUR-PORTFOLIO-FOTO------- */

.title-foto {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.foto-list-our {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.explanation-foto-our {
  max-width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .foto-list-our {
    gap: 72px 24px;
    justify-content: space-around;
  }

  .explanation-foto-our {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .foto-list-our {
    gap: 48px 24px;
  }

  .explanation-foto-our {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}

@media screen and (min-width: 1158px) {
  .explanation-foto-our:hover,
  .explanation-foto-our:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.list-item {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .list-item {
    position: relative;
    overflow: hidden;
    height: 300px;
  }
}

.list-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explanation-foto-our:hover .list-item-text {
  transform: translateY(0);
}

.foto-app {
  width: 288px;
  height: 280px;
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-foto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-app {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------  ------- */

/* ---------FOOTER------- */
.page-footer {
  background: #2e2f42;
  max-width: 100%;
  height: 664px;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    height: 456px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 312px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}

.media-web {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 112px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .media-web {
    width: 264px;
    justify-content: flex-start;
    margin-right: 24px;
    margin-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .media-web {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  line-height: 1.17;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer .footer-logo-web {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer .footer-text {
  max-width: 264px;
}

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .media {
    display: inline-block;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1158px) {
  .media {
    margin-bottom: 0;
  }
}

.media-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  gap: 16px;
  width: 208px;
}

.media-list-item {
  width: 40px;
  height: 40px;
}

.f-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-icons {
  width: 24px;
  height: 24px;
}

.f-link:hover,
.f-link:focus {
  background-color: #31d0aa;
}

.footer-email {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 288px;
  min-height: 136px;
}

@media screen and (min-width: 768px) {
  .footer-email {
    justify-content: flex-start;
    max-width: 453px;
    min-height: 80px;
    margin-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-email {
    display: inline-block;
    align-items: center;
    height: 40px;
    margin-left: 0;
  }
}

.footer-email-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 288px;
  min-height: 96px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 453px;
    min-height: 40px;
  }
}

.email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  margin: 0 auto;
}

.email-input-form {
  background: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.email-input-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition-property: color, background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-logo {
  fill: #fff;
  margin-left: 16px;
}

/* ---- Modal ---- */

.modal-overley {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overley.is-open {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  left: 240px;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    left: 368px;
  }
}

.modal-btn:hover .modal-btn-logo {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-btn:focus .modal-btn-logo {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-btn-logo {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 256px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-text {
    width: 360px;
  }
}

.form-container {
  margin-bottom: 8px;
}

.form-container-comment {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-label {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 360px;
  }
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #4d5ae5;
  fill: #4d5ae5;
}

.form-input:hover + .label-icon {
  fill: #4d5ae5;
}

.form-input:focus + .label-icon {
  fill: #4d5ae5;
}

.form-input-com {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-com:focus {
  border-color: #4d5ae5;
}

.input-label-com {
  margin-bottom: 16px;
}

.form-input-com::placeholder {
  border-color: #4d5ae5;
}

.checkbox-label {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.checkbox-lab {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

@media screen and (min-width: 768px) {
  .checkbox-lab {
    display: inline-block;
  }
}

.checkbox-input {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .checkbox-input {
    gap: 8px;
  }
}

.checkbox-visually:checked + .checkbox-lab > .checkbox-input {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-text-item {
  color: #4d5ae5;
}

.modal-btn-second {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-btn-second:hover,
.modal-btn-second:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/*---- mobile-meny---- */

.mobile-meny {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-meny.is-open {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

.mobile-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-meny,
  .mobile-conteiner {
    display: none;
  }
}

.mobile-btn {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;
}

.mobile-btn-logo {
  display: block;
  margin: auto;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container-meny {
  width: 151px;
  height: 200px;
  margin-bottom: 50px;
}

.mobile-meny-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.mobile-meny-part {
  height: 100%;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.meny-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mobile-link:hover,
.mobile-link:focus {
  color: #404bbf;
}

.address-container {
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}

.mobile-address {
  font-style: normal;
  height: 100%;
}

.mobile-contacts-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.mobile-contacts-net {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #4d5ae5;
}

.meny-social-links {
  display: flex;
  gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .meny-social-links {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
  }
}

.meny-social-links-item {
  height: 40px;
  width: 40px;
}

.meny-social-links .meny-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.meny-social-links .meny-icons-link:hover,
.meny-social-links .meny-icons-link:focus {
  background-color: #404bbf;
}

.meny-icons-link {
  fill: #f4f4fd;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
